html {
    width: 100%;
}
body {
    background-color: black
    min-width: 600px;
    /*max-width: 900px;*/
    width: 950px;
    /*margin: auto;*/
}
.content {
    text-align: center;
    /*margin: 0 20%;*/
}
h1 {
    /*margin: 2em 0 0 0;*/
    /*color: #2e484c;*/
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    padding-left: 5px;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

p.footer {
    font-size:12px;
    margin-top: 0;
    text-align: center;
}

#description
{
    font-size:14px;
}

/*.bk {
    text-align: center;
}*/

.bk .bk-btn {
    display: inline;
    font-size: 30px;
    height: 90%;
}

/*.bk .bk-input-group {
    padding-bottom: 100px;
}*/

.bk-root .bk-input{
    margin: 7px 0px 15px 0px;
}

option.bk {
    margin: 6px !important;
    font-size: 14px !important;
}

.bk .bk-data-table {
    font-family: 'Julius Sans One', sans-serif;
}

.bk .bk-clearfix {
    font-size:50px;
    text-align: center;
}

.output_div {
    left:0;
    right:0;
    width:100% !important;
}

.button_custom_submit {
    width: 450px;
}

.bk .bk-clearfix .footer {
    font-size:12px !important;
    margin-top: 0 !important;
    text-align: center;
}