<!--  -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FAB Inventory</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  </head>

  <body>
    <div class="content">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Electronics Inventory</h1>

        <a href="https://www.fablabbcn.org"><img src="{{ url_for('static',filename='logo_fablab.png') }}" height="40px"></a>
      
      </div>

      {{ script|safe }}
     <div>
      <p class="footer" style="margin-top:-5px"> Made with ❤️️ at <a href="https://www.fablabbcn.org">FablabBCN</a></p>
    </div>
  </div>
  </body>
</html>